<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.infra.mapper.SiteOrderMapper">
    <resultMap id="BaseResultMap" type="com.xujie.infra.entity.SiteOrder">
        <!--@mbg.generated-->
        <!--@Table site_order-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="transaction_id" jdbcType="VARCHAR" property="transactionId"/>
        <result column="open_no" jdbcType="VARCHAR" property="openNo"/>
        <result column="trade_no" jdbcType="BIGINT" property="tradeNo"/>
        <result column="site_appid" jdbcType="VARCHAR" property="siteAppid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="order_desc" jdbcType="VARCHAR" property="orderDesc"/>
        <result column="real_fee" jdbcType="DECIMAL" property="realFee"/>
        <result column="discount" jdbcType="DECIMAL" property="discount"/>
        <result column="total_fee" jdbcType="DECIMAL" property="totalFee"/>
        <result column="channel" jdbcType="VARCHAR" property="channel"/>
        <result column="url_qrcode" jdbcType="VARCHAR" property="urlQrcode"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="json_data" jdbcType="VARCHAR" property="jsonData"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime"/>
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="order_status" jdbcType="INTEGER" property="orderStatus"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, transaction_id, open_no, trade_no, site_appid, title, order_desc, real_fee, discount,
        total_fee, channel, url_qrcode, url, remark, json_data, create_time, expire_time,
        pay_time, update_time, order_status, is_delete
    </sql>

    <!--auto generated by MybatisCodeHelper on 2025-02-09-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from site_order
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=BIGINT}
            </if>
            <if test="transactionId != null">
                and transaction_id=#{transactionId,jdbcType=VARCHAR}
            </if>
            <if test="openNo != null">
                and open_no=#{openNo,jdbcType=VARCHAR}
            </if>
            <if test="tradeNo != null">
                and trade_no=#{tradeNo,jdbcType=BIGINT}
            </if>
            <if test="siteAppid != null">
                and site_appid=#{siteAppid,jdbcType=BIGINT}
            </if>
            <if test="title != null">
                and title=#{title,jdbcType=VARCHAR}
            </if>
            <if test="orderDesc != null">
                and order_desc=#{orderDesc,jdbcType=VARCHAR}
            </if>
            <if test="realFee != null">
                and real_fee=#{realFee,jdbcType=DECIMAL}
            </if>
            <if test="discount != null">
                and discount=#{discount,jdbcType=DECIMAL}
            </if>
            <if test="totalFee != null">
                and total_fee=#{totalFee,jdbcType=DECIMAL}
            </if>
            <if test="channel != null">
                and channel=#{channel,jdbcType=VARCHAR}
            </if>
            <if test="urlQrcode != null">
                and url_qrcode=#{urlQrcode,jdbcType=VARCHAR}
            </if>
            <if test="url != null">
                and url=#{url,jdbcType=VARCHAR}
            </if>
            <if test="remark != null">
                and remark=#{remark,jdbcType=VARCHAR}
            </if>
            <if test="jsonData != null">
                and json_data=#{jsonData,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="expireTime != null">
                and expire_time=#{expireTime,jdbcType=TIMESTAMP}
            </if>
            <if test="payTime != null">
                and pay_time=#{payTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time=#{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="orderStatus != null">
                and order_status=#{orderStatus,jdbcType=INTEGER}
            </if>
            <if test="isDelete != null">
                and is_delete=#{isDelete,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>